<% layout('../layout') -%>
<p>Here I should provide a list of all accounts in the system.</p>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <th>Name</th>
    <th>e-mail</th>
    <th>Google</th>
    <th>Status</th>
  </thead>
  <tbody>
    <% for(var i in list) { %>
      <% if (list[i].status === 'pending approval' ) { %>
        <tr class="warning">
      <% } else { %>
        <tr>
      <% } %>
        <td><a href="/accounts/<%= list[i].id %>"><%= list[i].name %></a></td>
        <td><a target="_blank" href="mailto:<%= list[i].email %>"><%= list[i].email %></a></td>
        <td>
          <% if (list[i].identifier !== null) { %>
            <span class="glyphicon glyphicon-thumbs-up"></span>
          <% } else { %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
          <% } %>
        <td><%= list[i].status %></td>
      </tr>
    <% } %>
  </tbody>
</table>